﻿
	
		<h2 style="color:#9C3627;text-align:left;font-size:200%;">Magnus</h2>
	<div id="content">
	
			<img class="pilt" src="pildid/pic/magnataur_full.png" alt="Magnus" />
		<p class="role">Melee - Initiator - Disabler - Nuker - Carry</p>
		<h3>Biograafia</h3>
		<p class="bio">
The master-smiths of Mt. Joerlak agree on only a single point: that the horn of a magnoceros is more precious than any alloy. And of all such horns, the largest and sharpest belongs to the beast they call Magnus. For half a generation, Magnus took easy sport goring hunters come to claim the treasures of his kin. Each time he would return to his cave with hooves and horns stained red, until his Matriarch urged him and all their kin to seek refuge to the north beyond the shadow of the mountain. But Magnus scoffed, having never failed to defend his people. The magnoceroi would stay, he decided, for a magnoceros does not believe in chance... nor does it ever change its mind. But when Mt. Joerlak erupted without warning, and half his kin perished in the fire and ash, Magnus changed his mind after all. The survivors pushed north, until they reached a blockade watched over by a hundred hunters armed with bow and steel. Magnus expected no less. He led his fiercest brothers and sisters in a charge against their enemies, and fought with a ferocity matched only by the fire-spewing mountain at his back. Meanwhile the magnoceros elders, mothers, and calves vanished into the drifts. The master-smiths are divided about what happened next. Some say Magnus reunited with his kin, while others claim he suffered mortal injuries and expired alongside the body of his Matriarch. Neither theory is correct. Magnus did vow to rejoin his kin...but only after seeking out those responsible for the eruption of Mt. Joerlak and watching them die upon his horn, for a magnoceros does not believe in chance. </p>
		
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/magnus/magnataur_shockwave_hp1.png" alt="Shockwave"/>
			</td>
			<td>
				<p class="ptabel">Shockwave<br><br>
				Magnus sends out a wave of force, damaging enemy units in a line.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/magnus/magnataur_empower_hp1.png" alt="Empower"/>
			</td>
			<td>
				<p class="ptabel">Empower<br><br>
				Gives an allied unit bonus damage and cleave on attack.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/magnus/magnataur_skewer_hp1.png" alt="Skewer"/>
			</td>
			<td>
				<p class="ptabel">Skewer<br><br>
				Magnus rushes forward, goring enemy units on his massive tusk. Heroes hit on the way will be dragged to the destination, then damaged and slowed.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/magnus/magnataur_reverse_polarity_hp1.png" alt="Reverse Polarity"/>
			</td>
			<td>
				<p class="ptabel">Reverse Polarity<br><br>
				Magnus changes properties of matter, sucking all nearby enemies in front of him and stunning them with a powerful slam and dealing damage.</p>
			</td>
		</tr>
		</table>
		<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">Gustav 's4' Magnusson<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/lTX_Rcfup5A"  allowfullscreen></iframe></p>
		<p class="bio">Danylo "Dendi" Ishutin<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/HXUm4E9OtaA"  allowfullscreen></iframe></p>
		<p class="bio"> <br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/0RWH-ReeBfc"  allowfullscreen></iframe></p>
		</div>
	</div>
</body>

</html>

