﻿
	
		<h2 style="color:#5C8AE6;text-align:left;font-size:200%;">Mirana</h2>
	<div id="content">
		<img class="pilt" src="pildid/pic/mirana_full.png" alt="Mirana" />
		<p class="role">Ranged - Carry - Nuker - Disabler - Escape</p>
		<h3>Biograafia</h3>
		<p class="bio">
			Born to a royal family, a blood princess next in line for the Solar Throne, Mirana willingly surrendered any claim to mundane land or titles when she dedicated herself completely to the service of Selemene, Goddess of the Moon. Known ever since as Princess of the Moon, Mirana prowls the sacred Nightsilver Woods searching for any who would dare poach the sacred luminous lotus from the silvery pools of the Goddess's preserve. Riding on her enormous feline familiar, she is poised, proud and fearless, attuned to the phases of the moon and the wheeling of the greater constellations. Her bow, tipped with sharp shards of lunar ore, draws on the moon's power to charge its arrows of light.  
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/mirana/mirana_starfall_hp1.png" alt="Starstorm"/>
			</td>
			<td>
				<p class="ptabel">Starstorm<br><br>
				Calls down a wave of meteors to damage nearby enemy units. One random enemy unit in 175 range will take a second hit for 75% of the damage.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/mirana/mirana_arrow_hp1.png" alt="Sacred Arrow"/>
			</td>
			<td>
				<p class="ptabel">Sacred Arrow<br><br>
				Fires an arrow with deadly precision, dealing large damage and stunning the first enemy unit it strikes. Stun duration increases based on distance to target, ranging from 0.5 to 5 seconds. Bonus damage up to 100 is applied based on distance to target.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/mirana/mirana_leap_hp1.png" alt="Leap"/>
			</td>
			<td>
				<p class="ptabel">Leap<br><br>
				Mirana leaps forward into battle, empowering allied units with a ferocious roar that grants bonus attack and movement speed. Speed bonus lasts 10 seconds.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/mirana/mirana_invis_hp1.png" alt="Moonlight Shadow"/>
			</td>
			<td>
				<p class="ptabel">Moonlight Shadow<br><br>
				Turns Mirana and all allied heroes invisible. If Invisibility is broken, it will restore after fade delay if the shadow's duration has not expired. Silence will stop Moonlight Shadow.</p>
			</td>
		</tr>
		</table>
			<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">WehSing "SingSing" Yuen<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/VdK_A-jd8OQ" allowfullscreen></iframe></p>
		<p class="bio">Oleksandr "XBOCT" Dashkevych<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/JTOveV_OgcU" allowfullscreen></iframe></p>
		</div>
	</div>
</body>

</html>
