﻿
	
		<h2 style="color:#E5CBFF;text-align:left;font-size:200%;">Puck</h2>
	<div id="content">
		<img class="pilt" src="pildid/pic/puck_full.png" alt="Puck" />
		<p class="role">Ranged - Initiator - Nuker - Disabler - Escape</p>
		<h3>Biograafia</h3>
		<p class="bio">
			While Puck seems at first glance a mischievous, childish character, this quality masks an alien personality. The juvenile form of a Faerie Dragon, a creature that lives for eons, Puck spends countless millennia in its childish form. So while it is technically true that Puck is juvenile, it will continue to be so when the cities of the present age have sloughed away into dust. Its motives are therefore inscrutable, and what appears to be play may in fact hide a darker purpose. Its endless fondness for mischief is the true indicator of Puck's true nature.</p> 
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/puck/puck_illusory_orb_hp1.png" alt="Illusory Orb"/>
			</td>
			<td>
				<p class="ptabel">Illusory Orb<br><br>
				Puck launches magic orb that floats in a straight path, damaging enemy units along the way. At any point, Puck may teleport to the orb's location using Ethereal Jaunt.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/puck/puck_waning_rift_hp1.png" alt="Waning Rift"/>
			</td>
			<td>
				<p class="ptabel">Waning Rift<br><br>
				Puck releases a burst of faerie dust that deals damage and silences enemy units nearby.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/puck/puck_phase_shift_hp1.png" alt="Phase Shift"/>
			</td>
			<td>
				<p class="ptabel">Phase Shift<br><br>
				Puck briefly shifts into another dimension where it is immune from harm.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/puck/puck_ethereal_jaunt_hp1.png" alt="Ethereal Jaunt"/>
			</td>
			<td>
				<p class="ptabel">Ethereal Jaunt<br><br>
				Teleports Puck to a flying Illusory Orb.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/puck/puck_dream_coil_hp1.png" alt="Dream Coil"/>
			</td>
			<td>
				<p class="ptabel">Dream Coil<br><br>
				Creates a coil of volatile magic that latches onto enemy Heroes, stunning them for .5 seconds and damaging them. If the enemy hero stretches the coil by moving too far away, it snaps, deals damage again and stuns. Upgradable by Aghanim's Scepter.</p>
			</td>
		</tr>
		</table>
			<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">Danylo "Dendi" Ishutin<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/9dTBy0fkhLM?rel=0" allowfullscreen></iframe></p>
		<p class="bio">Gustav 's4' Magnusson<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/3rsNPWnI64k" allowfullscreen></iframe></p>
		<p class="bio">Adrian "FATA" Trinks<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/09YVR-_f1TA" allowfullscreen></iframe></p>
		</div>
	</div>
</body>

</html>