﻿
	
		<h2 style="color:#D119A3;text-align:left;font-size:200%;">Queen of Pain</h2>
	<div id="content">
	<img class="pilt" src="pildid/pic/queenofpain_full.png" alt="Queen of Pain" />
		<p class="role">Ranged - Nuker - Escape - Carry</p>
		<h3>Biograafia</h3>
		<p class="bio"> The Ecclesiast-King of Elze nursed a desire for pain--forbidden pain. In a less prominent political figure, such desires might be considered unwise, but in a monarch of his stature, to satisfy such thirsts would have threatened the virtue of the Divine Throne itself. Therefore he turned to his dungeon full of demonologists, promising freedom to whoever could summon a personal succubus of torment and bind it entirely to his service. The creature who arrived, Akasha by name, visited upon him such exquisite torments that he named her his Secret Queen, and he began to spend all his spare moments submitting to her clever torments--eventually abdicating all his responsibilities in his pursuit of the painful pleasures that only she could bring. Queen of Pain could bring him to the brink of death, but she was rune-bound to keep him alive. At last the King's neglect of state brought on an uprising. He was dragged from his chamber and hurled from the Tower of Invocations, and at the moment of death, Queen of Pain was let loose into the world, freed from servitude--freed to visit her sufferings on anyone she deigned to notice. </p>
		
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/queenofpain/queenofpain_shadow_strike_hp1.png" alt="Shadow Strike"/>
			</td>
			<td>
				<p class="ptabel">Shadow Strike<br><br>
				Hurls a poisoned dagger which deals large initial damage, and then deals damage over time. The poisoned unit has its movement speed slowed for 15 seconds. An instance of damage is dealt every 3 seconds.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/queenofpain/queenofpain_blink_hp1.png" alt="Blink"/>
			</td>
			<td>
				<p class="ptabel">Blink<br><br>
				Short distance teleportation that allows Queen of Pain to move in and out of combat.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/queenofpain/queenofpain_scream_of_pain_hp1.png" alt="Scream of Pain"/>
			</td>
			<td>
				<p class="ptabel">Scream of Pain<br><br>
				The Queen of Pain lets loose a piercing scream around her, damaging nearby enemies.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/queenofpain/queenofpain_sonic_wave_hp1.png" alt="Sonic Wave"/>
			</td>
			<td>
				<p class="ptabel">Sonic Wave<br><br>
				Creates a gigantic wave of sound in front of Queen of Pain, dealing heavy damage to all enemy units in its wake. Upgradable with Aghanim's Scepter.</p>
			</td>
		</tr>
		</table>
		<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">Danylo "Dendi" Ishutin<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/N-XZFzuGiKo" allowfullscreen></iframe></p>
		<p class="bio"> Chai "Mushi" Yee Fung<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/8uicj4Yf_Eg" allowfullscreen></iframe></p>
		</div>
		</div>
</body>

</html>