﻿
	
		<h2 style="color:#4DC94D;text-align:left;font-size:200%;">Rubick</h2>
	<div id="content">
	<img class="pilt" src="pildid/pic/rubick_full.png" alt="Rubick" />
		<p class="role">Ranged - Disabler - Nuker</p>
		<h3>Biograafia</h3>
		<p class="bio">
Any mage can cast a spell or two, and a few may even study long enough to become a wizard, but only the most talented are allowed to be recognized as a Magus. Yet as with any sorcerer's circle, a sense of community has never guaranteed competitive courtesy.<br><br>

Already a renowned duelist and scholar of the grander world of sorcery, it had never occurred to Rubick that he might perhaps be Magus material until he was in the midst of his seventh assassination attempt. As he casually tossed the twelfth of a string of would-be killers from a high balcony, it dawned on him how utterly unimaginative the attempts on his life had become. Where once the interruption of a fingersnap or firehand might have put a cheerful spring in his step, it had all become so very predictable. He craved greater competition. Therefore, donning his combat mask, he did what any wizard seeking to ascend the ranks would do: he announced his intention to kill a Magus.<br><br>

Rubick quickly discovered that to threaten one Magus is to threaten them all, and they fell upon him in force. Each antagonist's spell was an unstoppable torrent of energy, and every attack a calculated killing blow. But very soon something occurred that Rubick's foes found unexpected: their arts appeared to turn against them. Inside the magic maelstrom, Rubick chuckled, subtly reading and replicating the powers of one in order to cast it against another, sowing chaos among those who had allied against him. Accusations of betrayal began to fly, and soon the sorcerers turned one upon another without suspecting who was behind their undoing.<br><br>

When the battle finally drew to a close, all were singed and frozen, soaked and cut and pierced. More than one lay dead by an ally's craft. Rubick stood apart, sore but delighted in the week's festivities. None had the strength to argue when he presented his petition of assumption to the Hidden Council, and the Insubstantial Eleven agreed as one to grant him the title of Grand Magus. </p>
		
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/rubick/rubick_telekinesis_hp1.png" alt="Telekinesis"/>
			</td>
			<td>
				<p class="ptabel">Telekinesis<br><br>
				Rubick uses his telekinetic powers to lift the enemy into the air briefly and then hurls them back at the ground. The unit lands on the ground with such force that it stuns nearby enemies.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/rubick/rubick_telekinesis_land_hp1.png" alt="Telekinesis Land"/>
			</td>
			<td>
				<p class="ptabel">Telekinesis Land<br><br>
				Chooses the location the target will land when Telekinesis finishes.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/rubick/rubick_fade_bolt_hp1.png" alt="Fade Bolt"/>
			</td>
			<td>
				<p class="ptabel">Fade Bolt<br><br>
				Rubick creates a powerful stream of arcane energy that travels between enemy units, dealing damage and reducing their attack damage. Each jump deals less damage.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/rubick/rubick_null_field_hp1.png" alt="Null Field"/>
			</td>
			<td>
				<p class="ptabel">Null Field<br><br>
				Slams the ground, causing tentacles to erupt in all directions, damaging and stunning all nearby enemy units.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/rubick/rubick_spell_steal_hp1.png" alt="Spell Steal"/>
			</td>
			<td>
				<p class="ptabel">Spell Steal</p>
				Rubick studies the trace magical essence of one enemy hero, learning the secrets of the last spell the hero cast. Rubick can use this spell as his own for several minutes or until he dies. Upgradable by Aghanim's Scepter.
			</td>
		</tr>
		</table>
		<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">Kuro "KuroKy" Salehi Takhasomi<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/NoqV0G_dIIo" allowfullscreen></iframe></p>
		<p class="bio">Jerry "EGM" Lundqvist<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/RtK8GSRcs8Y" allowfullscreen></iframe></p>
		</div>
	</div>
</body>

</html>