﻿
		<h2 style="color:#003366;text-align:left;font-size:200%;">Slark</h2>
	<div id="content">
		<img class="pilt" src="pildid/pic/slark_full.png" alt="Slark" />
		<p class="role">Melee - Escape</p>
		<h3>Biograafia</h3>
		<p class="bio">
Little known to the inhabitants of the dry world, Dark Reef is a sunken prison where the worst of the sea-bred are sent for crimes against their fellows. It is a razor barbed warren full of murderous slithereen, treacherous Deep Ones, sociopathic meranths. In this dim labyrinth, patrolled by eels and guarded by enormous anemones, only the vicious survive. Pitched into Dark Reef for crimes unknown, Slark spent half a lifetime without kin or kindness, trusting no one, surviving through a combination of stealth and ruthlessness, keeping his thoughts and his plans to himself. When the infamous Dark Reef Dozen plotted their ill-fated breakout, they kept their plans a perfect secret, murdering anyone who could have put the pieces together--but somehow Slark discovered their scheme and made a place for himself in it. Ten of the Dozen died in the escape attempt, and two were captured, hauled back to Dark Reef, then executed for the entertainment of their fellow inmates. But Slark, the unsung thirteenth, used the commotion as cover and slipped away, never to be caught. Now a furtive resident of the carnivorous mangrove scrub that grips the southern reach of Shadeshore, Slark remains the only successful escapee from Dark Reef. </p>
		
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/slark/slark_dark_pact_hp1.png" alt="Dark Pact"/>
			</td>
			<td>
				<p class="ptabel">Dark Pact<br><br>
				After a short delay, Slark sacrifices some of his life blood, purging negative debuffs and dealing damage to enemy units around him and to himself. Slark only takes 50% of the damage.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/slark/slark_pounce_hp1.png" alt="Pounce"/>
			</td>
			<td>
				<p class="ptabel">Pounce<br><br>
				Slark leaps forward, grabbing the first hero he connects with. That unit takes damage and is leashed to Slark, and can only move a limited distance away from Slark's landing position.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/slark/slark_essence_shift_hp1.png" alt="Essence Shift"/>
			</td>
			<td>
				<p class="ptabel">Essence Shift<br><br>
				Slark steals the life essence of enemy heroes with his attacks, draining each of their attributes and converting them to bonus Agility.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/slark/slark_shadow_dance_hp1.png" alt="Shadow Dance"/>
			</td>
			<td>
				<p class="ptabel">Shadow Dance<br><br>
				When used, Slark hides himself in a cloud of shadows, becoming immune to detection (attacking, casting spells, and using items do not reveal Slark). Passively, when not visible to the enemy team, Slark gains bonus movement speed and health regeneration.</p>
			</td>
		</tr>
		</table>
		<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">Danylo "Dendi" Ishutin<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/YaKI5MdCrFA?rel=0" allowfullscreen></iframe></p>
		<p class="bio">Chai "Mushi" Yee Fung<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/6cGjH5R6EhQ?rel=0" allowfullscreen></iframe></p>
		</div>
	</div>
</body>

</html>