﻿
		<h2 style="color:#99DAEB;text-align:left;font-size:200%;">Storm Spirit</h2>
	<div id="content">
		<img class="pilt" src="pildid/pic/storm_spirit_pic.png" alt="Storm Spirit" />
		<p class="role">Ranged - Carry - Initiator - Escape - Disabler</p>
		<h3>Biograafia</h3>
		<p class="bio">Storm Spirit is literally a force of nature--the wild power of wind and weather, bottled in human form. 
		And a boisterous, jovial, irrepressible form it is! As jolly as a favorite uncle, he injects every scene with crackling energy. 
		But it was not always thus, and there was tragedy in his creation. 
		Generations ago, in the plains beyond the Wailing Mountains, a good people lay starving in drought and famine. 
		A simple elementalist, Thunderkeg by name, used a forbidden spell to summon the spirit of the storm, asking for rain. 
		Enraged at this mortal's presumption, the Storm Celestial known as Raijin lay waste to the land, scouring it bare with winds and flood. 
		Thunderkeg was no match for the Celestial--at least until he cast a suicidal spell that forged their fates into one: he captured the Celestial in the cage of his own body.
		Trapped together, Thunderkeg's boundless good humor fused with Raijin's crazed energy, creating the jovial Raijin Thunderkeg, a Celestial who walks the world in physical form. </p>
		
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/storm_spirit/storm_spirit_static_remnant.png" alt="Static Remnant"/>
			</td>
			<td>
				<p class="ptabel">Static Remnant<br><br>
				Creates an explosively charged image of Storm Spirit that lasts 12 seconds and will detonate and deal damage if an enemy unit comes near it.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/storm_spirit/storm_spirit_electric_vortex.png" alt="Electric Vortex"/>
			</td>
			<td>
				<p class="ptabel">Electric Vortex<br><br>
				A vortex that pulls an enemy unit to Storm Spirit's location, it also slows the Storm Spirit by 50% for 3 seconds.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/storm_spirit/storm_spirit_overload.png" alt="Overload"/>
			</td>
			<td>
				<p class="ptabel">Overload<br><br>
				Casting a spell creates an electrical charge, which is released in a burst on his next attack, dealing damage and slowing nearby enemies.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/storm_spirit/storm_spirit_ball_lightning.png" alt="Ball Lightning"/>
			</td>
			<td>
				<p class="ptabel">Ball Lightning<br><br>
				Storm Spirit becomes volatile electricity, charging across the battlefield until he depletes his mana or reaches his target. The mana activation cost is 15+7% of his total mana pool, and the cost per 100 units traveled is 10+1% of his total mana pool. Damage is expressed in damage per 100 units traveled.</p>
			</td>
		</tr>
		</table>
		<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">Danylo "Dendi" Ishutin<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/gV1WqeXzySI" allowfullscreen></iframe></p>
		<p class="bio">William "Blitz" Lee<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/zyjPdcfdxlI" allowfullscreen></iframe></p>
		</div>
	</div>
</body>

</html>