﻿
	
		<h2 style="color:#B8008A;text-align:left;font-size:200%;">Templar Assassin</h2>
	<div id="content">
	
			<img class="pilt" src="pildid/pic/templar_assassin_full.png" alt="Templar Assassin" />
		<p class="role">Ranged - Carry - Escape</p>
		<h3>Biograafia</h3>
		<p class="bio">
Lanaya, the Templar Assassin, came to her calling by a path of curious inquiry. Possessed of a scientific bent, she spent her early years engaged in meticulous study of nature's laws--peering into grimoires of magic and alchemy, recreating experiments from charred fragments of the Violet Archives, and memorizing observations of the Keen recordkeepers. Already quiet and secretive by nature, the difficulty of acquiring these objects further reinforced her skills of stealth. Had she been less retiring, she might have become notorious among the guilds as a thief-scholar. Instead her investigations led her into far more obscure corners. As she devoted her furtive talents to unlocking the secrets of the universe, she instead unlocked a secret door that exists in nature itself: the entryway to the most Hidden Temple. The intelligences that waited beyond that portal, proved to be expecting her, and whatever mysteries they revealed in the moment of their discovery was nothing compared to the answers they held out to Lanaya should she continue in their service. She swore to protect the mysteries, but more to the point, in service to the Hidden Temple she satisfies her endless craving for understanding. In the eyes of each foe she expunges, a bit more of the mystery is revealed. </p>
		
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/templar_assassin/templar_assassin_refraction_hp1.png" alt="Refraction"/>
			</td>
			<td>
				<p class="ptabel">Refraction<br><br>
				Templar Assassin becomes highly elusive, avoiding damage while gaining a bonus to her damage. These effects are separate, and have a limited number of instances.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/templar_assassin/templar_assassin_meld_hp1.png" alt="Meld"/>
			</td>
			<td>
				<p class="ptabel">Meld<br><br>
				Templar Assassin conceals herself, gaining invisibility while remaining still. On the next attacked enemy unit, Lanaya will reduce its armor and deal bonus damage to it.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/templar_assassin/templar_assassin_psi_blades_hp1.png" alt="Psi Blades"/>
			</td>
			<td>
				<p class="ptabel">Psi Blades<br><br>
				Templar Assassin's psi blades slice through the attacked unit, splitting and damaging enemy units directly behind it, while gaining bonus attack range.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/templar_assassin/templar_assassin_trap_hp1.png" alt="Trap"/>
			</td>
			<td>
				<p class="ptabel">Trap<br><br>
				Springs the nearest trap, slowing nearby enemies.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/templar_assassin/templar_assassin_psionic_trap_hp1.png" alt="Psionic Trap"/>
			</td>
			<td>
				<p class="ptabel">Psionic Trap<br><br>
				Templar Assassin places mystical traps that invisibly monitor enemy movement. When sprung at her command, they exert a slowing influence of 30% in the area. Traps charge up to slow an additional 5% every second, up to 50%.</p>
			</td>
		</tr>
		</table>
			<h3>Tähelepanuväärsed mängijad</h3>
		<p class="bio">Danylo "Dendi" Ishutin<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/OoJ0dLBKyNQ?rel=0" allowfullscreen></iframe></p>
		<p class="bio">Fei Chi "Ferrari_430" Luo<br>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/vj1XWVSYka8?rel=0" allowfullscreen></iframe></p>
		</div>
	</div>
</body>

</html>