﻿
	
		<h2 style="color:#00FF99;text-align:left;font-size:200%;">Tidehunter</h2>
	<div id="content">
	<img class="pilt" src="pildid/pic/tidehunter_full.png" alt="Tidehunter" />
		<p class="role">Melee - Initiator - Durable - Disabler - Support</p>
		<h3>Biograafia</h3>
		<p class="bio">The Tidehunter known as Leviathan was once the champion of the Sunken Isles, but his motives are as mysterious as those of his people. We all know the importance of the Drylanders' shipping lanes, how empires may rise and fall according to who controls the open water. Far less is known of the submarine lanes, and how the warring tribes of the Meranthic Diaspora have carved out habitations through endless undersea skirmishes. In the fragile treaties between the Mer and Men, we can glimpse the extent of the drowned empires, but their politics appear complex and opaque. It would seem that Leviathan tired of such petty strife, and set off on his own, loyal only to his abyssal god, Maelrawn the Tentacular. He stalks the shallows now in search of men or meranths who stray into his path, and with a particular loathing for Admiral Kunkka, who has long been his nemesis for reasons lost in the deepest trenches of the sea.  </p>
		
		<h3>Oskused</h3>
		<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/oskused/tidehunter/tidehunter_gush_hp1.png" alt="Gush"/>
			</td>
			<td>
				<p class="ptabel">Gush<br><br>
				Summons a gush of water to damage an enemy unit, reducing their movement speed and armor. Lasts 4 seconds.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/tidehunter/tidehunter_kraken_shell_hp1.png" alt="Kraken Shell"/>
			</td>
			<td>
				<p class="ptabel">Kraken Shell<br><br>
				Creates a thick armor shell that reduces physical damage and removes negative buffs when damage received reaches a critical threshold. Kraken Shell does not stack with items that provide Damage Block.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/tidehunter/tidehunter_anchor_smash_hp1.png" alt="Anchor Smash"/>
			</td>
			<td>
				<p class="ptabel">Anchor Smash<br><br>
				Tidehunter swings his mighty anchor to damage nearby enemies and reduce their attack damage.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/oskused/tidehunter/tidehunter_ravage_hp1.png" alt="Ravage"/>
			</td>
			<td>
				<p class="ptabel">Ravage<br><br>
				Slams the ground, causing tentacles to erupt in all directions, damaging and stunning all nearby enemy units.</p>
			</td>
		</tr>
		</table>
		</div>
	</div>
</body>

</html>