﻿
		<h2 style="text-align:left;font-size:200%;">Kangelased</h2>
	<div id="content">
	
			<?php
			if(isset($_SESSION['username'])):			
				foreach($kangelased as $kangelased): 
			?>
			<a href="<?php echo $kangelased['href'];?>"><img src="<?php echo $kangelased['small'];?>" data-hover="<?php echo $kangelased['big'];?>" alt="<?php echo $kangelased['alt'];?>"/></a>
			<?php endforeach;
				else: echo "Ligipääs puudub.";
				endif;
			?>

		</div>
		<div style="clear: both"></div>
	</div>
	<div id="frame" >
<a href="#"><img id="filler" src="#" width="100" height="100" alt="Vaata suuremalt!"/></a>
<div id="title">ajutine</div>
</div>
</body>

</html>