﻿	
		<h2 style="text-align:left;font-size:200%;">Uudised</h2>
	<div id="content">
	
	<div class="bio"><h3 style="color:black">The International</h3>
	   <p style="color:black">March 31, 2014 - Dota Team </p>
	 <p>Save the date. This year The International moves to KeyArena, taking place July 18th through the 21st in Seattle.</p>
	   
	  <img style="display: block;margin-left: auto;margin-right: auto" src="pildid/pic/ti4.jpg" alt="TI4"/><br>
	  <p> For those interested in attending there are three types of tickets available:<br>
	- General Admission ($99)<br>
	- Floor Seats ($199)<br>
	- VIP package ($499) that includes:<br><br>

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Access to all 6 days of Playoffs (formerly Group Stage) taking place on July 8th<br>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Floor Seating<br>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Exclusive VIP Meet & Greets<br>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Access to the After Party<br>
</p>
Every ticket includes access to all four days of the Championships Event at KeyArena. Tickets will be sold through Ticketmaster beginning this Friday April 4th at 3PM PDT, so check back later for more information.<br><br>

This year there will be 11 teams invited directly as well as four Regional Qualifiers taking place May 12th through the 25th. The winner of each Qualifier will receive an invitation, with the four runner-ups competing in Seattle for the final spot.<br><br>

Here’s a handy list of times to help you get ready for the sale:<br><br>

   &nbsp; &nbsp; &nbsp; Seattle: 15:00 Friday<br><br>
   &nbsp; &nbsp; &nbsp; Brasilia: 19:00 Friday<br><br>
   &nbsp; &nbsp; &nbsp; London: 23:00 Friday<br><br>
   &nbsp; &nbsp; &nbsp; Moscow: 02:00 Saturday<br><br>
   &nbsp; &nbsp; &nbsp; Beijing: 06:00 Saturday<br><br>
   &nbsp; &nbsp; &nbsp; Singapore: 06:00 Saturday<br><br>
   &nbsp; &nbsp; &nbsp; Seoul: 07:00 Saturday<br><br>
   &nbsp; &nbsp; &nbsp; Sydney: 09:00 Saturday<br><br>
		</div>
	
	<div class="bio"><h3 style="color:black">Free to Play Documentary: Coming Soon</h3>
	   <p style="color:black">February 19, 2014 - Dota Team</p>
	   Experience the first International through the eyes of players who lived it. 
	  <p> Free to Play is Valve’s feature length documentary detailing the efforts of three Dota 2 players as they battle to win the first million dollar grand prize in the history of competitive videogames.</p>
      <p> Free to Play will be available for free on Steam March 19th. When the film is out, you’ll be able to show your support for the featured players by purchasing the Free to Play Competitor Pack, which will be available through the Dota 2 Store and Steam. With the Competitor Pack you’ll receive several in-game rewards including pro player item sets for Pudge, Doom, and Sven. You’ll also obtain a Free to Play courier, a special ward, and a custom HUD skin. Plus a portion of each purchase will go toward the players featured in the film: Danil “Dendi” Ishutin, Benedict “HyHy” Lim, and Clinton “Fear” Loomis.</p>
      <p> Visit the <a href=http://www.freetoplaythemovie.com/>Free to Play website</a> to watch the trailer and learn more about the film.</p>
		</div>
		</div>
		<div style="clear: both" ></div>
	</div>
</body>

</html>
