﻿	
		<h2 style="text-align:left;font-size:200%;">Pood</h2>
	<div id="content">
	<div id="wrap2">
	<div id="columns" class="columns_4">

	<?php foreach($pood as $pood): ?>
			<figure>
			<img src="<?php echo $pood['src'];?>" alt="<?php echo $pood['alt'];?>">
			<figcaption> <?php echo $pood['nimi'];?><span class="price"> <?php echo $pood['hind'];?> </span>
			<a class="button" href="#"> Osta </a></figcaption>
			</figure>
	<?php endforeach; ?>
			

			</div>
		</div>	
	</div>
	</div>
</body>

</html>