
	
		<h2 style="text-align:left;font-size:200%;">Uudised</h2>
	<div id="content">
	<form action="?mode=register" method="POST">
			<table>
				<tr>
					<td>Kasutajanimi:</td>
					<td>
						<input type="text" name="username" maxlength="10"/>
					</td>
				</tr>
				<tr>
					<td>Parool:</td>
					<td>
						<input type="password" name="passwd1"/>
					</td>
				</tr>
				<tr>
					<td>Parool (uuesti):</td>
					<td>
						<input type="password" name="passwd2"/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="registreeru!"/>
					</td>
				</tr>
			</table>
		</form>
		</div>
		
	</div>
</body>

</html>