﻿
	
		<h2 style="text-align:left;font-size:200%;">Varustus</h2>
	<div id="content">
	<table class="bio">
		<tr>
			<td>
				<img  src="pildid/pic/varustus/arcane_boots_lg.png" alt="Arcane Boots"/>
			</td>
			<td>
				<p class="ptabel">Arcane Boots<br><br>
				Magi equipped with these boots are valued in battle.<br>
				Active: Replenish Mana - Restores +250 mana in an area around the hero and +135 to the hero itself.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>1450
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 55
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 35</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/power_treads_lg.png" alt="Power Treads"/>
			</td>
			<td>
				<p class="ptabel">Power Treads<br><br>
				A pair of tough-skinned boots that change to meet the demands of the wearer.<br>
				Active: Switch Atrribute - Changes selected attribute between Strength, Agility and Intelligence.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>1400</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/phase_boots_lg.png" alt="Phase Boots"/>
			</td>
			<td>
				<p class="ptabel">Phase Boots<br><br>
				Boots that allow the wearer to travel between the ether.<br>
				Active: Phase - Gives increased movement speed and lets you move through units. Phase is cancelled upon using another item or ability.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>1350
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 8</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/magic_wand_lg.png" alt="Magic Wand"/>
			</td>
			<td>
				<p class="ptabel">Magic Wand<br><br>
				A simple wand used to channel magic energies, it is favored by apprentice wizards and great warlocks alike.<br>
				Active: Energy Charge - Gains charges (max 15) based on enemies using abilities in a nearby area. When activated, it restores health and mana based on the number of charges stored. <br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>500
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 13</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/black_king_bar_lg.png" alt="Black King Bar"/>
			</td>
			<td>
				<p class="ptabel">Black King Bar<br><br>
				A powerful staff imbued with the strength of giants.<br>
				Active: Avatar - Grants magic immunity. Duration and cooldown decrease with each use. Some Ultimate abilities are able to disable through Black King Bar<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/> 3975
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 80</p>
			</td>
		</tr>
			<tr>
			<td>
				<img  src="pildid/pic/varustus/blink_lg.png" alt="Blink Dagger"/>
			</td>
			<td>
				<p class="ptabel">Blink Dagger<br><br>
				The fabled dagger used by the fastest assassin ever to walk the lands.<br>
				Active: Blink - Teleport to a target point up to 1200 units away. If damage is taken from an enemy hero, Blink Dagger cannot be used for 3 seconds. <br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>2150
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 12</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/bloodstone_lg.png" alt="Bloodstone"/>
			</td>
			<td>
				<p class="ptabel">Bloodstone<br><br>
				The Bloodstone's bright ruby color is unmistakable on the battlefield, as the owner seems to have infinite vitality and spirit.<br>
				Active: Pocket Suicide - Instantly commits suicide.
Passive: Bloodpact - Starts with 8 charges. Gains 1 charge each time an enemy hero dies within 1675 range. Each charge bestows 1 mana regeneration per second, reduces gold lost from death by 25, and reduces respawn time by 4 seconds. When the bearer dies, restores 400 HP + 30 HP per charge to allied units within 1675 units, then loses a third of its charges. While dead, the bearer continues to receive experience at the death location and gives 1800 unit vision there. <br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5050
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/>300</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/butterfly_lg.png" alt="Butterfly"/>
			</td>
			<td>
				<p class="ptabel">Butterfly<br><br>
				Only the mightiest and most experienced of warriors can wield the Butterfly, but it provides incredible dexterity in combat.<br>
				Butterfly gives the bearer evasion from attacks.
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>6000</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/force_staff_lg.png" alt="Force Staff"/>
			</td>
			<td>
				<p class="ptabel">Force Staff<br><br>
				Allows you to manipulate others, for good or evil.<br>
				Active: Force - Pushes any target unit 600 units in the direction it is facing. Double click to self-cast.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>2250
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 20
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 25</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/desolator_lg.png" alt="Desolator"/>
			</td>
			<td>
				<p class="ptabel">Desolator<br><br>
				A wicked weapon, used in torturing political criminals.<br>
				Passive: Corruption - Your attacks reduce target's armor for 15 seconds.
				Desolator is a Unique Attack Modifier, and does not stack with other Unique Attack Modifiers.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>4100</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/greater_crit_lg.png" alt="Daedalus"/>
			</td>
			<td>
				<p class="ptabel">Daedalus<br><br>
				A weapon of incredible power that is difficult for even the strongest of warriors to control.<br>
				Passive: Critical Strike - Grants a chance to deal critical damage on an attack.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5550</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/invis_sword_lg.png" alt="Shadowblade"/>
			</td>
			<td>
				<p class="ptabel">Shadowblade<br><br>
				The blade of a fallen king, it allows you to move unseen and strike from the shadows.<br>
				Active: Shadow Walk - Makes you invisible until the duration ends, or until you attack or cast a spell. While Shadow Walk is active, you move 20% faster and can move through units. If attacking to break the invisibility, you gain 150 bonus damage on that attack. Lasts 12 seconds.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>3000
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 28
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 75</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/manta_lg.png" alt="Manta Style"/>
			</td>
			<td>
				<p class="ptabel">Manta Style<br><br>
				An axe made of reflective materials that causes confusion amongst enemy ranks.<br>
				Active: Mirror Image - Creates 2 illusions of your hero that last 20 seconds.
				Melee illusions deal 33% damage and take 250% bonus damage. Ranged illusions deal 28% damage and take 300% bonus damage.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5050
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 50
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 165</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/mjollnir_lg.png" alt="Mjollnir"/>
			</td>
			<td>
				<p class="ptabel">Mjollnir<br><br>
				Thor's magical hammer, made for him by the dwarves Brok and Eitri.<br>
				Active: Static Charge - Places a charged shield on a target unit
Passive: Chain Lightning - Grants a chance to release Chain Lighting on attack, dealing damage to multiple targets.<br>
Mjollnir is a Unique Attack Modifier that stacks with other Unique Attack Modifiers, but overrides them when Chain Lightning occurs. 
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5300
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 35
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 50</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/orchid_lg.png" alt="Orchid Malevolence"/>
			</td>
			<td>
				<p class="ptabel">Orchid Malevolence<br><br>
				A garnet rod constructed from the essence of a fire demon.<br>
				Active: Soul Burn - Silences target unit for 5.0 seconds and amplifies the damage it takes by 30.0%.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5025
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 18
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 100</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/radiance_lg.png" alt="Radiance"/>
			</td>
			<td>
				<p class="ptabel">Radiance<br><br>
				A divine weapon that causes damage and a bright burning effect that lays waste to nearby enemies.<br>
				Active: Toggles Burn damage on or off.<br>
				Passive: Burn Damage - Deals damage per second in a 700 radius.
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5150</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/sheepstick_lg.png" alt="Scythe of Vyse"/>
			</td>
			<td>
				<p class="ptabel">Scythe of Vyse<br><br>
				The most guarded relic among the cult of Vyse, it is the most coveted weapon among magi.<br>
				Active: Hex - Turns a target unit into a harmless critter for 3.5 seconds. Destroys illusions.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5675
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 35
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 100</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/shivas_guard_lg.png" alt="Shiva's Guard"/>
			</td>
			<td>
				<p class="ptabel">Shiva's Guard<br><br>
				Said to have belonged to a goddess, today it retains much of its former power.<br>
				Active: Arctic Blast - Emits a freezing wave that does 200 damage to enemies and slows their movement by -40% for 4.0 seconds.<br>
Passive: Freezing Aura - Reduces attack speed on enemies. Multiple instances of Freezing Aura do not stack. <br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>4700
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 30
				<img  style="border-style:none;" src="pildid/pic/varustus/mana.png" alt="Mana" title="Mana cost"/> 100</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/skadi_lg.png" alt="Eye of Skadi"/>
			</td>
			<td>
				<p class="ptabel">Eye of Skadi<br><br>
				Extremely rare artifact, guarded by the azure dragons.<br>
				Passive: Cold Attack - Attacks slow the movement and attack speed of the target.<br>
				Eye of Skadi is a Unique Attack Modifier, and does not stack with other Unique Attack Modifiers. Eye of Skadi can be combined with Lifesteal Attack Modifiers.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5675</p>
			</td>
		</tr>
		<tr>
			<td>
				<img  src="pildid/pic/varustus/sphere_lg.png" alt="Linken's Sphere"/>
			</td>
			<td>
				<p class="ptabel">Linken's Sphere<br><br>
				This magical sphere once protected one of the most famous heroes in history.<br>
				Passive: Spellblock - Blocks most targeted spells once every 17 seconds.<br>
				<img  style="border-style:none;" src="pildid/pic/varustus/gold.png" alt="Gold" title="Gold cost"/>5175
				<img  style="border-style:none;" src="pildid/pic/varustus/cooldown.png" alt="Cooldown" title="Cooldown"/> 17</p>
			</td>
		</tr>
		</table>
		</div>
	</div>
</body>

</html>